* {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

.container {
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.sidebar {
  background-color: #f5f5f5;
  width: 200px;
  padding: 20px;
  flex: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.sidebar a:hover {
  color: #0077ff;
}

.sidebar span {
  margin-left: 10px;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.logout {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #0077ff;
  font-size: 18px;
  flex: 1;
  text-align: right;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /*should have their own scroll*/
  overflow-y: auto;
  height: 70vh;
}

.search-results .book-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.title{
  color: #0077ff;
}

.title:hover {
  transform: scaleY(1.01);
  cursor: pointer;
  transition: 0.3s;
}

.search-results div img {
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.search-results .authors {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  width: 100%;
}
.middle-section hr{
    width: 100%;
}

.search-results h4 {
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: left;
}

.search-results .author-btn {
  cursor: pointer;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  color: #0077ff;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.short-description {
  text-align: justify;
  font-size: 14px;
  margin: 10px 20px;
}

.showing-details{
  /*when the element is selected this class will be added, acts like an animated hover*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-color: #222 !important;
  transition: 0.3s;
}

.addto-button{
  /*elevated button, attractive*/
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 20px 10px 4px 10px;
}

.removefrom-button{
  /*elevated button, attractive*/
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 20px 10px 4px 10px;
}


.search-bar {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 100%;
  margin-bottom: 20px;
}

.book-details select {
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}


.book-details select option {
  font-size: 16px;
  color: #333;
}

.book-details p {
  font-size: 13px;
  margin-bottom: 10px;
}

.book-details span {
  font-size: 18px;
  margin-right: 10px;
}

.book-details button {
  margin-top: 20px;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-button {
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 10px;
}

.page-button:hover {
  background-color: #0055cc;
}

.page-info {
  font-size: 14px;
  margin: 0 10px;
}
